.main-content {
  min-height: calc(100vh - 56px); /* Account for navbar height */
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
  padding: 1rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
